@model Technician
@{
    ViewBag.Title = "Delete Technician";
}

<h1>Confirm Deletion</h1>
<p>Do  you want to delete <b>@Model.Name</b>?</p>

<form asp-action="Delete" method="post">
    <input  type="hidden" asp-for="Id"/>
    <button type="submit"
            class="btn btn-primary">Delete
    </button>
    <a asp-controller="Technician"
       asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>